/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Arvo);
@import url(http://fonts.googleapis.com/css?family=Cabin:400,400italic);


body{
	/*background-image: url("../images/light_wool.png");*/
	font-family: 'Cabin', sans-serif;
}
h2{
	font-family: 'Cabin', sans-serif;
	/*text-transform: uppercase;*/
	font-size: 3.0em;
}
h2 em{
	font-style: normal;
	color: #F30;
}
p{
	font-size: 1.5em;
	font-style: italic;

}
a{
	border-bottom: 1px solid;
}
#textdisplay p{
	line-height: 1.8em;
	font-size: 1.5em;
	word-wrap: break-word;
	font-weight: 400;
	font-style: normal;
}
strong{
	color: #FF2608;
}

.footer{
	text-align: center;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


